<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team_3.accountbook">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.samsung.rcs.im.READ_PERMISSION"/>
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="accountbook"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Accountbook">
        <activity
            android:name=".AssetForEditActivity"
            android:exported="false" />
        <activity
            android:name=".EditWayActivity"
            android:exported="false" />
        <activity
            android:name=".ListInAssetActivity"
            android:exported="false" />
        <activity
            android:name=".WearActivity"
            android:exported="true" />
        <activity
            android:name=".ListActivity"
            android:exported="true" />
        <activity
            android:name=".SqlTestActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".AssetsActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".GraphActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".HomeActivity"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".ListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- action android:name="com.google.android.gms.wearable.DATA_CHANGED" / -->
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/message_path"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <receiver
            android:name=".smsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".RCSReceiver"
            android:permission="com.samsung.rcs.permission.RCS_APP_PERMISSION"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="com.samsung.rcs.framework.instantmessaging.category.ACTION"/>
                <category android:name="com.samsung.rcs.framework.instantmessaging"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_CHAT_INVITATION"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_PARTICIPANT_INSERTED"/>
                <action android:name="com.samsung.rcs.framework.instantmessaging.action.RECEIVE_PARTICIPANT_UPDATED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>